mat-drawer-container, mat-drawer {
  padding-top: 2rem;
}

.drawer-container {
  height: 100vh;
}

.sidenav {
  border-right: 1px solid gray;
  border-radius: 0px;
}

.sidenav button {
  width: 100%;
  border-radius: 0px;
  color: black;
}
