main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/assets/images/aboutUs_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text {
  margin: 2rem;
  padding: 2rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.877);
}
