.hero-section {
  height: 100vh;
  background-image: url('/assets/images/bg_heroSection.png');
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.hero-section h1 {
  color: var(--main-color);
  margin: 0;
}

.hero-section .hero-section_presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restaurant-brief {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.restaurant-brief img {
  border-radius: 2rem;
  width: 50vw;
}

.restaurant-brief_presentation {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
