.hero-section {
  height: 100vh;
  background-image: url('/assets/images/bg_heroSection.png');
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

.hero-section h1 {
  color: var(--main-color);
  margin: 0;
}

.hero-section .hero-section_presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restaurant-brief {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.restaurant-brief img {
  border-radius: 2rem;
  width: 50vw;
}

.restaurant-brief_presentation {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.working-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--secondary-color);
  padding: 2rem 0;
  margin-top: 2rem;
}

.working-hours h1 {
  margin: 0;
  text-align: center;
  color: white;
}

.working-hours .working-hours_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 1rem;
}

.working-hours .card mat-card-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
