.btnBooking {
  background-color: var(--main-color);
  font-weight: bold;
}

.btnMenu {
  background-color: white;
  color: var(--main-color);
  font-weight: bold;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 40px;
  background-image:
    linear-gradient(
      to right,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0)
    ),
    url('/assets/images/bg-heroSection.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-section .hero-section_presentation {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
}

.hero-section_presentation .hero-section-text {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  color: white;
}

.hero-section-text h2 {
  margin: 0;
}

.hero-section-text h1 {
  font-family: "Lobster", sans-serif !important;
  font-weight: 100;
  font-style: normal;
  margin: 0;
}

.hero-section .hero-section_actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.restaurant-brief {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 3rem;
  background-color: var(--secondary-color);
}

.restaurant-brief img {
  border-radius: 2rem;
  width: 25rem;
}

.restaurant-brief_presentation {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
  color: white;
  border-radius: 20px;
  padding: 20px;
}

.working-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  background-color: var(--secondary-color);
}

.working-hours h1 {
  margin: 0;
  text-align: center;
  color: white;
}

.working-hours .working-hours_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 1rem;
}

.working-hours .card mat-card-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus {
  width: 100%;
}

.menus .menus_options {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.menus_options-breakfast, .menus_options-lunch, .menus_options-dinner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 80vh;
}

.menus .menus_options-breakfast {
  width: 50%;
}

.menus .menus_options-lunch {
  width: 25%;
}

.menus .menus_options-dinner {
  width: 25%;
}

.contact .contact_form-maps {
  display: flex;
  flex: row;
  align-items: center;
}

.contact {
  text-align: center;
  color: white;
  background-color: var(--secondary-color);
}

.contact h1 {
  margin: 0;
  padding: 2rem 0;
}

.contact .contact_form-maps form, .contact .contact_form-maps .googleMaps {
  display: flex;
  justify-content: center;
  align-content: center;
}

.contact .contact_form-maps form {
  flex-direction: column;
  width: 50%;
}

.contact .contact_form-maps .googleMaps {
  width: 50%;
}
