<main>
  <section class="hero-section">
    <div class="hero-section_presentation">
      <h1>Restaurant Logo</h1>
      <h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </h2>

      <div class="hero-section_actions">
        <button mat-flat-button>BOOK NOW</button>
        <button mat-stroked-button>MENU</button>
      </div>
    </div>
  </section>
</main>
