<main>
  <section class="hero-section">
    <div class="hero-section_presentation">
      <h1>Restaurant Logo</h1>
      <h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </h2>

      <div class="hero-section_actions">
        <button mat-flat-button>BOOK NOW</button>
        <button mat-stroked-button>MENU</button>
      </div>
    </div>
  </section>

  <section class="restaurant-brief">
    <div class="restaurant-brief_presentation">
      <h1>WE SERVE THE BEST FOOD FOR YOU AND YOUR FAMILY</h1>
      <span>
        It is a long established fact that a reader will be distracted by the readable content of a
        page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
        normal distribution of letters, as opposed to using 'Content here, content here', making it
        look like readable English. Many desktop publishing packages and web page editors now use Lorem
        Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
        still in their infancy. Various versions have evolved over the years, sometimes by accident,
        sometimes on purpose (injected humour and the like).
      </span>
      <button mat-flat-button>BOOK NOW</button>
    </div>
    <img src="/assets/images/chefWithDish.png" alt="chef preparing our special salad">
  </section>

  <section class="working-hours">
    <h1>Working Hours</h1>
    <div class="working-hours_cards">
      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>schedule</mat-icon></div>
          <mat-card-title>Breakfast</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Mon: 08:30 - 11:30 <br>
            Tue: 08:30 - 11:30 <br>
            Wed: 08:30 - 11:30 <br>
            Thu: 08:30 - 11:30 <br>
            Fri: 08:30 - 11:30 <br>
            Sat: 08:30 - 11:30 <br>
            Sun: 08:30 - 11:30 <br>
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>schedule</mat-icon></div>
          <mat-card-title>Lunch</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Mon: 08:30 - 11:30 <br>
            Tue: 08:30 - 11:30 <br>
            Wed: 08:30 - 11:30 <br>
            Thu: 08:30 - 11:30 <br>
            Fri: 08:30 - 11:30 <br>
            Sat: 08:30 - 11:30 <br>
            Sun: 08:30 - 11:30 <br>
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar><mat-icon>schedule</mat-icon></div>
          <mat-card-title>Dinner</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Mon: 08:30 - 11:30 <br>
            Tue: 08:30 - 11:30 <br>
            Wed: 08:30 - 11:30 <br>
            Thu: 08:30 - 11:30 <br>
            Fri: 08:30 - 11:30 <br>
            Sat: 08:30 - 11:30 <br>
            Sun: 08:30 - 11:30 <br>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <button mat-flat-button>BOOK NOW</button>
  </section>

  <section class="menus">
    <div class="menus_options">
      <div class="menus_options-breakfast">Breakfast</div>
      <div class="menus_options-lunch">Lunch</div>
      <div class="menus_options-dinner">Dinner</div>
    </div>
  </section>

  <section class="contact">
    <h1>Get in Touch</h1>
    <div class="contact_form-maps">
      <form action="submit">
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
      <div class="googleMaps">
        Google MAPS
      </div>
    </div>
  </section>
</main>
