<main class="cards-dinner">
  <mat-card appearance="outlined">
    <img mat-card-image src="/assets/images/dish1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>Dish Dinner 1</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <img mat-card-image src="/assets/images/dish2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>Dish Dinner 2</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <img mat-card-image src="/assets/images/dish3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h2>Dish Dinner 3</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </mat-card-content>
  </mat-card>
</main>
