:root {
  --main-color: #E28413;
  --secondary-color: #0E131F;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Inter", sans-serif !important; }

* {
  font-family: "Inter", sans-serif !important;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

