<footer>
  <div>
    <h2>Restaurant Logo</h2>
  </div>
  <div class="spacer"></div>
  <div class="socialMedia">
    <a href="" matTooltip="LinkedIn"><mat-icon svgIcon="linkedinIcon"/></a>
    <a href="" matTooltip="Facebook"><mat-icon svgIcon="facebookIcon"/></a>
    <a href="" matTooltip="Instagram"><mat-icon svgIcon="instagramIcon"/></a>
    <a href="" matTooltip="TikTok"><mat-icon svgIcon="tiktokIcon"/></a>
    <a href="" matTooltip="Email"><mat-icon svgIcon="emailIcon"/></a>
  </div>
  <div class="spacer"></div>
  <div class="pages">
    <a routerLink="/home">Home</a>
    <a href="">About</a>
    <a href="">Contact</a>
    <a href="">Book Now</a>
    <a routerLink="/menu">Menu</a>
  </div>
</footer>
