footer, .socialMedia, .pages {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

footer {
  color: white;
  background-color: rgb(87, 86, 86);
  padding: 1rem;
}

.restaurantLogo a {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  all: unset;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.restaurantLogo img {
  width: 5.5rem;
}

.spacer {
  flex: 1 1 auto;
}

.pages {
  gap: 0.5rem;
}

.pages a {
  color: white;
}

.socialMedia {
  gap: 1rem;
}

.socialMedia mat-icon {
  width: 2rem;
  height: 2rem;
  color: black;
}


@media (max-width: 1024px) {
  footer {
    flex-direction: column;
    gap: 10px;
  }

  .restaurantLogo a {
    font-size: 30px;
  }

  .restaurantLogo img {
    width: 6.5rem;
  }

  .socialMedia mat-icon {
    width: 3rem;
    height: 3rem;
  }

  .pages a {
    font-size: 20px;
  }
}
